@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  @media screen and (max-width: 1200px) {
    .prices_section {
      width: 100%;
    }
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .domain {
    flex-direction: column;
    gap: 0;
  }

  /* .price {
    margin-left: 0;
    margin-top: 4px;
  } */
}
