/* Variables */
:root {
  --inherit: #20292f;
  --white: #fff;
  --orange: #e2b013;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");

/* BEM | Block__Element--Modifier */

/* tt - title */

.tt-lg {
  color: var(--black);
  font-family: "RedDisp700";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.tt-sm {
  color: var(--lightGray);
  font-family: "RedDis500";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  border-bottom: 1px solid transparent;
  transition-duration: 0.3s;
}

.tt-sm:hover {
  border-bottom: 1px solid var(--gray);
}
/* bt - button */

.bt {
  font-family: "RedDis500";
  display: inline-block;
  background: var(--pink);
  text-decoration: none;
  padding: 14px 48px;
  width: 200px;
  height: 60px;
  border-radius: 100px;
  color: var(--white);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition-duration: 0.4s;
}

.bt:hover {
  border: 1px solid var(--lightpink);
  color: var(--black);
  background-color: var(--white);
}

.bt:active {
  border-color: #8643dc;
  transform: scale(0.9);
}
